root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = spacecomposer create-project --prefer-dist laravel/laravel blog "6.*"
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2
